body {
    background-color: rgb(186, 210, 244);
}
.my_bg_btn {
    background-color: rgba(233, 205, 120, 0.582);
}
.my_bg_btn:hover {
    background-color: rgb(231, 191, 49);
}

.bg_name {
    background-color: rgb(35, 35, 35);
    color: white;
    border-radius: 0.5rem;
}